@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.task-item {
		@apply w-[97%] bg-white text-left h-16 mt-4 rounded-md outline outline-2 outline-black text-black
		hover:bg-brutalPurple-300 hover:text-white transition-all ease-in-out duration-200;
	}

	.side-icon {
		@apply bg-white h-32 w-32 flex flex-col justify-center items-center 
		outline-black outline-2 outline transition-all ease-in-out 
		shadow-md hover:bg-brutalPurple-300 relative text-black hover:text-white duration-200;
	}

	.side-icon-tooltip {
		@apply text-black m-2 left-36 absolute w-auto min-w-max p-2
		bg-brutalYellow-200 text-lg rounded-lg uppercase scale-0 transition-all duration-100 ease-in-out;
	}

	.task-button {
		@apply bg-white hover:bg-brutalYellow-200 w-auto h-auto text-black mr-4 text-xl opacity-0 group-hover:opacity-100 pl-2 pr-2  
		rounded-lg outline outline-2 text-center items-center;
	}
}

.shadow-solid-primary {
	box-shadow: 8px 8px black;
}

.shadow-solid-secondary {
	box-shadow: 4px 4px black;
}

.fade-in-start {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

.fade-in-mid {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.8s;
}

.fade-in-end {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
